---
import Layout from '../../layouts/Layout.astro';
import type { Projeto } from "../../types/Projeto"
import Projetos from "../../constants/Projetos"
import Image from 'astro/components/Image.astro';
import Menu from '../../layouts/Menu.astro';
import Contanto from "../../components/Contanto.astro"
import ContantoSvg from '../../constants/ContantoSvg';
import Rodape from '../../layouts/Rodape.astro';
export function getStaticPaths() {
    return Projetos.map(projeto => ({ params: {id: projeto.id}, props: projeto }));
}

const { descricao, github, id, link, nome, foto, tags } = Astro.props as Projeto

---

<Layout>
    <Menu />
    <div class="mt-8">
        <div class="relative w-[95%] md:w-[80%] h-[30vh] md:h-[60vh] m-auto">
            <Image alt={`imagem de exemplo do projeto: ${nome}`} src={foto!} class="w-[100%] h-[100%] border-purple-500 border-4 rounded-md overflow-hidden" />
            <Contanto link={github} style="absolute inline left-[10px] bottom-[2%]" nome="github" svg={ContantoSvg.github} />
            <Contanto link={link} style="absolute inline left-[70px] bottom-[2%]" nome="site" svg={ContantoSvg.site} />
       
        </div>
        <!-- <Image src={foto} /> -->
        <div class="w-[80%] m-auto">
        <h1 class="text-center font-bold text-purple-500 text-3xl">{nome}</h1>
        <ul class="flex gap-2 flex-wrap">
            {tags.map(tag => <li class="px-4 py-2 bg-purple-500 rounded-lg">{tag}</li>)}
        </ul>
        {descricao.split("\n").filter(frase => frase.trim() != "").map(frase => <p class="text-white ">{frase}</p>)}
    </div>
    </div>
    <Rodape />

</Layout>
